.cartItem-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.cartItem-img{
    width: 50px;
    height: 50px;
}

.cartItem-detailContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.cartItem-title{
    margin-left: 10px ;
    margin-right: 10px ;
}
.cartItem-qty{
    margin-left: 10px ;
    margin-right: 10px ;
}
.cartItem-price{
    margin-left: 10px ;
    margin-right: 10px ;
}
.cartItem-subtotal{
    margin-left: 10px ;
    margin-right: 10px ;
}


.cartItem-removeProduct{
    width: 60px;
    height: 25px;
    padding: 5px;
    text-align: center;
    display: flex;
    vertical-align: auto;
    background-color: rgb(173, 41, 41);
    border-radius: 10px;
    border: none;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
