.checkout-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkout-h2{
    margin-bottom: 20px;
}
.checkout-h3{
    margin-bottom: 20px;
}

.checkout-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.checkout-input{
    margin: 5px;
    padding: 10px;
    width: 350px;
}
.checkout-formaDePago{
    margin: 5px;
}
.checkout-formaDePago-select{
    margin: 30px;
}
.checkout-formaDePago-option{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.btn-Pagar{
    width: 150px;
    height: 35px;
    padding: 5px;
    text-align: center;
    display: flex;
    vertical-align: auto;
    background-color: rgb(25, 165, 207);
    border-radius: 10px;
    border: none;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}

.noProducts-container{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.noProducts{
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}
.irComprar{
    width: 150px;
    height: 35px;
    padding: 5px;
    display: flex;
    background-color: rgb(25, 165, 207);
    border-radius: 10px;
    border: none;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}