.confirmation-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    margin-bottom: 40px;
    box-sizing: border-box;
}

.titleh2{
    margin-bottom: 20px;
    text-decoration: underline;
    color: rgb(25, 165, 207);
    font-weight: bold;
    text-shadow: 1px 1px rgb(189, 188, 188);
    font-size: 25px;
}
.titleh3{
    margin-bottom: 20px;
}

.datos-container{
    padding: 20px;
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
}

.datosyproductos-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.titleh4{
    margin-bottom: 20px;
    text-decoration: underline;
    color: rgb(25, 165, 207);
    font-weight: bold;
    text-shadow: 1px 1px rgb(189, 188, 188);;
    font-size: 20px;
}
.datosP{
    margin-bottom: 20px;
    font-weight: 500;
}
.datosSpan{
    margin-bottom: 20px;
    font-weight: 700;
}