.confirmation-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    margin-bottom: 40px;
    box-sizing: border-box;
}

.titleh2{
    margin-bottom: 20px;
    text-decoration: underline;
    color: rgb(25, 165, 207);
    font-weight: bold;
    text-shadow: 1px 1px rgb(189, 188, 188);
    font-size: 25px;
}
.titleh3{
    margin-bottom: 20px;
}

.datos-container{
    padding: 20px;
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    border: 3px solid black;
    border-radius: 10px;
}

.datosyproductos-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
}

.titleh4{
    margin-bottom: 20px;
    text-decoration: underline;
    color: rgb(25, 165, 207);
    font-weight: bold;
    text-shadow: 1px 1px rgb(189, 188, 188);;
    font-size: 20px;
}
.datosP{
    margin-bottom: 20px;
    font-weight: 500;
}
.datosSpan{
    margin-bottom: 20px;
    font-weight: 700;
}

.totalPriceContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.totales{
    margin-top: 15px;
}

.totalPrice{
    margin-bottom: 20px;
    font-weight: 700;
}

.btn-volverInicio{
    margin-top: 20px;
    width: 150px;
    height: 35px;
    padding: 5px;
    display: flex;
    background-color: rgb(25, 165, 207);
    border-radius: 10px;
    border: none;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}