.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.greetingContainer h3{
    font-size: 1.2rem;
    text-align: center;
}

.greetingContainer h3 span{
    color: rgb(25, 165, 207);
    text-shadow: 2px 2px grey;
}

.ItemListContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.title{
    text-shadow: 1px 1px rgb(189, 188, 188);
    font-size: 2rem;
    margin: 20px;
    text-decoration: underline;
    color: rgb(25, 165, 207);
    font-weight: bold;

}