.itemDetailContainer{
    width: 100%;
    margin: 30px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.descriptionContainer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
}

.itemDetailTitle{

}
.itemDetailPrice{

}

.itemDetailDescription{

}

.imgContainer{
    width: 100%;
    height: 400px;
    margin: 30px;
    padding: 20px;
    border: 0.1px solid rgba(196,196,196,1);
    border-radius: 10px;
    box-shadow: 4px 4px 10px 1px rgba(196,196,196,1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .5s;
    object-fit: contain;
}

.imgContainer:hover{
    transform: scale(1.05);
}

.itemDetailImg{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
