.logoNav{
    width: 80px;
    margin-left: 20px;
}


.navHeader{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto;
    margin-top: 10px;
    border-bottom: solid 1px rgba(245, 238, 238, 0.993);
}

.logoTitle{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    grid-column: 1/3;
    grid-row: 1/2;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: rgb(0, 115, 150);
    font-weight: bold;
    text-shadow: 1px 1px rgb(189, 188, 188);;
    font-size: 20px;
}

.titleNav{
    margin-left: 30px;
}

.ulNav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    grid-column: 3/5;
    grid-row: 1/2;
    width: 100%;
}

.cartWidget{
    grid-column: 5/6;
    grid-row: 1/2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.ulNav-li a{
    font-family: 'Anton', sans-serif;
    font-size: 0.8rem;
    text-decoration: underline;    
    color: rgb(66, 62, 62);
}